<div class="contact-form">
    <form class="contact-input-wrapper" ng-submit="$ctrl.sendMessage($event)">
        <!-- <input
            class="input input-outline"
            type="email"
            placeholder="{{ $root.LOCALE.GENERAL.EMAIL }}"
            ng-model="$ctrl.emailInfo.senderEmail">
        </input>
        <input
            class="input input-outline"
            type="text"
            placeholder="{{ $root.LOCALE.GENERAL.NAME }}"
            ng-model="$ctrl.emailInfo.senderName">
        </input>
        <input
            class="input input-outline"
            type="text"
            placeholder="{{ $root.LOCALE.GENERAL.SUBJECT }}"
            ng-model="$ctrl.emailInfo.subject">
        </input>
        <textarea
            class="textarea textarea-outline"
            type="text"
            placeholder="{{ $root.LOCALE.GENERAL.YOUR_MESSAGE }}"
            ng-model="$ctrl.emailInfo.message">
        </textarea> -->
        <button class="btn btn-outline" type="submit">{{ $root.LOCALE.GENERAL.SEND }}</button>
        <div style="clear: both;"></div>
    </form>
</div>
