.contact-form {
    .contact-input-wrapper {
        width: 100%;
        margin: 0 auto;
        display: block;
        margin-top: 20px;

        button {
            margin-top: 40px;
            width: 100%;
        }
    }
    
    @media only screen and (min-width: $desktop-min-width) {
        .contact-input-wrapper {
            margin-top: 40px;
            max-width: 600px;

            button {
                width: 200px;
                margin: 0 auto;
            }
        }
    }
}
