.fixed-background {
    position: fixed; // background-attachment: fixed; is not mobile compatible.
    top: 0;
    left: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &.-writing-code {
        background-image: url('./imgs/writing-code.png');
    }
}
