.btn {
    display: block;
    width: auto;
    padding: 5px 10px;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    border: solid black 2px;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: 300;
    cursor: pointer;

    &.-center {
        margin: 0 auto;
    }

    &:active {
        background-color: black;
        color: white;
        border-color: black;
    }
}

.btn-outline {
    background: transparent;
    color: white;
    border-color: white;

    &:active {
        background-color: white;
        color: black;
    }
}

.backbutton {
    position: absolute;
    left: 10px;
    top: 10px;
    background: transparent;
    color: white;
    border: none;
    font-size: 16px;
}
