.input {
        display: block;
        width: 100%;
        margin-top: 20px;
        height: 40px;
        background: white;
        color: white;
        font-size: 16px;
        padding: 10px;
        border: solid white 2px;
        font-family: sans-serif;
        font-weight: 300px;
        border-radius: 3px;
        &::-webkit-input-placeholder,
        &::-moz-input-placeholder,
        &:-ms-input-placeholder,
        &:-moz-input-placeholder {
            color: #B2B2B2;
        }
    
    @media only screen and (min-width: $desktop-min-width) {
        
    }
}

.input-outline {
    background: transparent;
}

.textarea {
    @extend .input;
    height: 180px;
}

.textarea-outline {
    background: transparent;
}
