.text {
    font-family: $main-font;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #252a30;
    font-weight: 300;

    &.-white {
        color: white;
    }
    &.-grey {
        color: #b2b2b2;
    }

    &.-center {
        text-align: center;
    }
}

.page-title {
    @extend .text;
    font-size: 32px;

    @media only screen and (min-width: $desktop-min-width) {
        font-size: 50px;
    }
}
.section-title {
    @extend .text;
    font-size: 24px;
    margin-bottom: 40px;

    @media only screen and (min-width: $desktop-min-width) {
        font-size: 32px;
    }
}

.subtitle {
    @extend .text;
    font-size: 20px;
    margin-top: 50px;
}

.item-title {
    @extend .text;
    font-size: 17px;
    text-align: left;
    line-height: 22px;
    @media only screen and (min-width: $desktop-min-width) {
        font-size: 20px;
        line-height: 26px;
    }
}

.item-subtitle {
    @extend .text;
    font-size: 14px;
    color: gray;
    text-align: left;
    line-height: 16px;
    @media only screen and (min-width: $desktop-min-width) {
        font-size: 16px;
        line-height: 18px;
    }
}

.item-description {
    @extend .text;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    @media only screen and (min-width: $desktop-min-width) {
        font-size: 16px;
        line-height: 22px;
    }
}
