.tool-list {
    display: flex;
    flex-flow: row wrap;
    margin: -20px;
    .tool-item {
        display: inline-block;
        flex-basis: 100%;
        height: 250px;
        margin: 20px 0px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
        overflow: hidden;
        margin: 20px;

        &:hover, &:focus {
            .tool-background {
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .text {
                opacity: 1;
                transition-delay: 0.5s;
            }
        }
        .tool-background {
            height: 100%;
            background-color: transparent;
            transition: ease 0.5s background-color;
            padding: 107px 0px;
        }
        .text {
            font-family: sans-serif;
            color: white;
            font-size: 32px;
            display: block;
            text-align: center;
            // line-height: 250px;
            opacity: 0;

            transition: ease 1s opacity;
            transition-delay: 0s;

            &.-about {
                margin-top: 5px;
                text-decoration: underline white;
                font-size: 24px;
                width: 120px;
                margin: 0 auto;
                margin-top: 10px;
            }
        }
    }

    @media only screen and (min-width: $desktop-min-width) {
        justify-content: space-evenly;
        max-width: 1020px;
        margin: 0 auto;
        .tool-item {
            flex-basis: auto;
            width: 300px;
            span {
                font-size: 48px;
            }
        }
    }
}
