
<div class="tool-list">
    <button  ng-repeat="tool in $ctrl.toolList" class="tool-item" style="background-image: url('{{ tool.path }}')">
        <div class="tool-background">
            <span class="text">{{ tool.name }}</span>
            <!-- <a
                class="text -about"
                href="{{ tool.link || '#' + tool.name.toLowerCase() }}"
                target="{{ tool.link.length > 0 ? '_blank' : '_self' }}">
                {{ $root.LOCALE.GENERAL.MORE.toLowerCase() }}
            </a> -->
        </div>
    </button>
</div>
