.home-page {
    min-height: 100%;
    min-width: 100%;
    .locale-list {
        position: absolute;
        top: 20px;
        left: 18px;
        .locale-item {
            color: white;
            border-bottom: solid 1px white;
            margin-right: 5px;
            cursor: pointer;
        }
    }
    .side-icon-list {
        height: auto;
        width: 160px;
        right: 0px;
        top: 15px;
        background: transparent;
        position: absolute;
        padding: 10px;
        padding-right: 5px;
        text-align: right;
        & > div {

            cursor: pointer;
            
            &:hover {
                span {
                    opacity: 1;
                    line-height: 55px;
                }
                .side-icon-item {
                    background-color: white;
                    height: 50px;
                    width: 50px;   
                    i {
                        color: black;
                        font-size: 32px;
                        line-height: 31px;
                    }
                }
            }
            span {
                color: white;
                display: inline-block;
                line-height: 50px;
                font-size: 16px;
                vertical-align: top;
                font-family: sans-serif;
                opacity: 0;

                transition: opacity ease 0.5s;
            }
            .side-icon-item {
                padding: 10px;
                background-color: transparent;
                border-radius: 5px;
                margin: 3px;
                display: inline-block;
                vertical-align: top;
                height: 44px;
                width: 44px;
                text-align: right;
                cursor: pointer;
                transition: background-color ease 0.5s, height ease 0.5s, width ease 0.5s;
                i {
                    width: 23px;
                    text-align: center;
                    color: white;
                    font-size: 24px;
                    line-height: 23px;
                    transition: font-size ease 0.5s, line-height ease 0.5s;
                    text-align: center;
                    width: 100%;
                }
            }       
        }
    }

    // TO-DO: MAKE IT A COMPONENT.
    .profile-img {
        height: 100px;
        width: 100px;
        border: solid white 2px;
        border-radius: 50%;
        background-image: url('./imgs/me.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        transition: ease 0.3s;
        display: block;
        margin-bottom: 30px;
        &:hover {
            height: 150px;
            width: 150px;
            border: solid white 4px;
        }
    }

    .cover-section {
        height: 100%;
        padding: $window-padding-mobile;

        .nextsection-calltext {
            margin-top: 50px;
            font-weight: 500;
            position: absolute;
            bottom: 80px;
            width: calc(100% - 60px);
            font-size: 20px;
            line-height: 25px;
        }

        .nextsection-arrow {
            color: white;
            font-size: 70px;
            font-weight: 200;
            position: absolute;
            bottom: 0px;
            text-align: center;
            width: calc(100% - 60px);
            height: 80px;
            cursor: pointer;

            &:hover {
                animation: godown 1s linear infinite;
                animation-direction: normal;
                @keyframes godown {
                    0% {
                        bottom: 20px;
                        opacity: 0;
                    }
                    100% {
                        bottom: 0px;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .tool-section {
        padding: $window-padding-mobile;
        background-color: white;
    }

    .contact-section {
        padding: $window-padding-mobile;
        
        // TO-DO: MOVE TO BASE!
        .contact-title {
            font-family: sans-serif;
            // font-family: "Montserrat";
            font-size: 22px;
            color: white;
            margin: 0 auto;
            display: block;
            text-align: center;
            font-weight: 500;
            
        }
    }

    .footer-section {
        // TO-DO: MOVE TO BASE.
        padding: $window-padding-mobile;
        border-top: solid white 1px;
        .copyright {
            font-family: sans-serif;
            // font-family: "Montserrat";
            font-size: 14px;
            color: white;
            margin: 0 auto;
            display: block;
            text-align: center;
            font-weight: 500;
        }
        .icon-list {
            display: block;
            margin: 0 auto;
            text-align: center;
            margin-top: 5px;
            .icon-item {
                color: white;
                padding: 10px;
                display: inline-block;
                .fa-linkedin {
                    font-size: 16px;
                }
                .fa-envelope {
                    font-size: 14px;
                }
                .fa-bitbucket {
                    font-size: 15px;
                }
            }
        }
    }

    @media only screen and (min-width: $desktop-min-width) {
        .social-icon-list {
            right: 5px;
            top: 20px;
        }

        .cover-section {
            padding: $window-padding-desktop;
            padding-top: 120px;
            padding: $window-padding-desktop;
    
            .profile-img {
                height: 120px;
                width: 120px;
                margin-bottom: 80px;
    
                &:hover {
                    height: 200px;
                    width: 200px;
                }
            }

            .nextsection-calltext {
                width: calc(100% - 100px);
            }
    
            .nextsection-arrow {
                width: calc(100% - 100px);
            }
        }

        .tool-section {
            padding: $window-padding-desktop;
        }

        .contact-section {
            padding: $window-padding-desktop;
            .contact-title {
                font-size: 32px;
            }
        }
    }
}
