
<div id="homePage" class="home-page">
    <div class="fixed-background -writing-code"></div>
    <section class="cover-section">
        <!-- <div class="locale-list">
            <button class="locale-item" ng-click="$ctrl.changeLocale('EN-US')">EN</button>
            <button class="locale-item" ng-click="$ctrl.changeLocale('PT-BR')">PT</button>
        </div> -->

        <div class="side-icon-list">

            <div>
                <span>{{ $root.LOCALE.PAGES.HOME.NAVBAR.RESUME }}</span>
                <button
                    class="side-icon-item"
                    ng-click="$ctrl.navigateTo($event, 'root.resume')">
                    <i class="fa fa-file-text"></i>
                </button>
            </div>

            <div>
                    <span>{{ $root.LOCALE.PAGES.HOME.NAVBAR.LINKEDIN }}</span>
                <button
                    class="side-icon-item"
                    ng-click="$ctrl.openExternalUrl($event, 'https://www.linkedin.com/in/emiliano-oliveira/', true)">
                    <i class="fa fa-linkedin"></i>
                </button>
            </div>

            <div>
                <span>{{ $root.LOCALE.PAGES.HOME.NAVBAR.EMAIL }}</span>
                <button
                    class="side-icon-item"
                    ng-click="$ctrl.scrollTo($event, 'contactSection', 2000)">
                    <i class="fa fa-envelope"></i>
                </button>
            </div>

            <div>
                <span>{{ $root.LOCALE.PAGES.HOME.NAVBAR.REPOSITORIES }}</span>
                <button
                    class="side-icon-item"
                    ng-click="$ctrl.openExternalUrl($event, 'https://bitbucket.org/emilianomon/', true)">
                    <i class="fa fa-bitbucket"></i>
                </button>
            </div>

        </div>
        <button class="profile-img"></button>
        <typing-component
            str-preffix="{{ $root.LOCALE.PAGES.HOME.GREETINGS }}"
            str-list="$root.LOCALE.PAGES.HOME.WHAT_I_BUILD">
        </typing-component>
        <span class="subtitle -white nextsection-calltext">{{ $root.LOCALE.PAGES.HOME.CALL_FOR_TOOLS_SECTION }}</span>
        <button
            class="fa fa-angle-down nextsection-arrow"
            aria-hidden="true"
            ng-click="$ctrl.scrollTo($event, 'toolsSection', 1000)">
        </button>
    </section>

    <section id="toolsSection" class="tool-section">
        <span class="section-title">{{ $root.LOCALE.PAGES.HOME.TOOLS_SECTION_TITLE }}</span>
        <tool-list-component tool-list="$ctrl.toolList"></tool-list-component>
    </section>

    <section id="contactSection" class="contact-section">
        <span class="section-title -white">
            {{ $root.LOCALE.PAGES.HOME.CALL_FOR_CONTACT_01 }}
            <br>
            {{ $root.LOCALE.PAGES.HOME.CALL_FOR_CONTACT_02 }}
        </span>
        <contact-form-component to="emilianom.oliveira.n@gmail.com"></contact-form-component>
    </section>

</div>

