.resume-page {
    min-height: 100%;
    min-width: 100%;

    .cover-section {
        padding: $window-padding-mobile;
        height: 300px;
        .text {
            margin-bottom: 10px;
        }
        .page-title {
            margin-bottom: 10px;
        }
        .btn-outline {
            margin: 0 auto;
            margin-top: 100px;
        }
    }

    .professional-experience-section {
        padding: $window-padding-mobile;
        background: white;

        .experience-wrapper {
            padding: 50px 0px;
            border-top: 1px solid lightgray;
            .experience-header-wrapper {
                margin-bottom: 20px;
                .logo {
                    height: 60px;
                    width: 60px;
                    border-radius: 3px;
                    float: left;

                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    overflow: hidden;
                }
                .experience-title-wrapper {
                    float: left;
                    padding-left: 10px;
                    .item-title {
                        margin-top: 2px;
                    }
                }
            }
            .item-description {
                max-width: 400px;
                float: left;
            }
            &.-right {
                .experience-header-wrapper {
                    .logo {
                        float: right;
                    }
                    .experience-title-wrapper {
                        padding-left: 0px;
                        padding-right: 10px;
                        float: right;
                        .item-title, .item-subtitle {
                            text-align: right;
                        }
                    }
                }
                .item-description {
                    text-align: right;
                    float: right;
                }
            }
        }
        
        .btn {
            width: 100%;
            margin-top: 30px;
        }
    }

    .tools-section {
        padding: $window-padding-mobile;
        .tool-category-wrapper {
            padding: 10px 0px;
            max-width: 700px;
            margin: 0 auto;
            .tool-logo {
                height: 40px;
                width: 40px;
                border-radius: 3px;
                float: left;background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                overflow: hidden;
            }

            .item-title {
                line-height: 40px;
                float: left;
                padding-left: 10px;
            }

            &.-right {
                .tool-logo {
                    float: right;
                }
                .item-title {
                    float: right;
                    padding-left: 0px;
                    padding-right: 10px;
                }
            }
        }
    }

    .otherinfo-section {
        background-color: white;
        padding: $window-padding-mobile;

        .language, .education, .contact {
            padding: $window-padding-mobile;
            border-top: 1px solid lightgray;
            max-width: 700px;
            margin: 0 auto;
        }

        .education {
            padding: 75px 30px;
        }

        .btn {
            margin-top: 30px;
            width: 100%;
        }
    }

    @media only screen and (min-width: $desktop-min-width) {
        .cover-section {
            height: 350px;
            .page-title {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            .btn-outline {
                margin-top: 100px;
            }
        }
        .professional-experience-section {
            padding: $window-padding-desktop;
            .experience-wrapper {
                margin: 0 auto;
                max-width: 700px;
                .experience-header-wrapper {
                    .logo {
                        margin-top: 3px;
                    }
                }
            }
            .btn {
                width: auto;
                margin: 0 auto;
                margin-top: 30px;
            }
        }

        .tools-section {
            padding: $window-padding-desktop;
            .tool-category-wrapper {
                max-width: 700px;
                margin: 0 auto;
            }
        }
    }

    .otherinfo-section {
        padding: $window-padding-desktop;

        .language, .education, .contact {
            max-width: 700px;
            margin: 0 auto;
        }

        .btn {
            margin: 0 auto;
            width: auto;
            margin-top: 30px;
        }
    }
    
}
