<div class="resume-page">
    <div class="fixed-background -writing-code"></div>

    <button class="btn backbutton" ng-click="$ctrl.navigate($event)">
        <i class="fa fa-angle-left"></i>&nbsp;&nbsp;{{ $root.LOCALE.GENERAL.HOME }}
    </button>
    
    <section class="cover-section">
        <span class="page-title -white">{{ $root.LOCALE.GENERAL.MY_NAME }}</span>
        <span class="text -white">
            <i class="fa fa-file-text"></i>
            &nbsp;&nbsp;{{ $root.LOCALE.PAGES.RESUME.MY_RESUME }}
        </span>
        <button class="btn btn-outline" ng-click="$ctrl.downloadPDF($root.LOCALE.LOCALE_NAME)">{{ $root.LOCALE.PAGES.RESUME.DOWNLOAD_PDF }}</button>
    </section>
    <section class="professional-experience-section">
        <span class="section-title">{{ $root.LOCALE.PAGES.RESUME.TIMELINE }}</span>
        <div class="experience-wrapper" ng-class="{ '-right': $index % 2 != 0 }" ng-repeat="experienceDescription in $root.LOCALE.PAGES.RESUME.EXPERIENCE_DESCRIPTIONS">
            <div class="experience-header-wrapper">
                <div class="logo" ng-style="{ 'background-image': 'url(\' {{ experienceDescription.LOGO }} \')' }"></div>
                <div class="experience-title-wrapper">
                    <span class="item-title jobtitle">{{ experienceDescription.JOB_TITLE }}</span>
                    <span class="item-subtitle">
                        from {{ experienceDescription.START_DATE }} to {{ experienceDescription.END_DATE || 'now' }}
                    </span>
                    <span class="item-subtitle">
                        at {{ experienceDescription.COMPANY_NAME }}
                    </span>
                </div>
                <div style="clear: both;"></div>
            </div>
            <p class="item-description">
                {{ experienceDescription.DESCRIPTION }}
            </p>
            <div style="clear: both;"></div>
        </div>
        <button class="btn" ng-click="$ctrl.downloadPDF($root.LOCALE.LOCALE_NAME)">{{ $root.LOCALE.PAGES.RESUME.DOWNLOAD_PDF }}
    </section>

    <section class="tools-section">
        <span class="section-title -white">{{ $root.LOCALE.PAGES.RESUME.KNOWLEDGE }}</span>
        <div ng-repeat="(key, toolKindList) in $root.LOCALE.PAGES.RESUME.TOOLS">
                <div class="tool-category-wrapper" ng-repeat="tool in toolKindList" ng-class="{ '-right': $parent.$index % 2 != 0 }">
                    <div
                        class="tool-logo"
                        ng-style="{ 'background-image': 'url(\' {{ tool.LOGO }} \')' }">
                    </div>
                    <span class="item-title -white">{{ tool.NAME }}</span>
                    <div style="clear: both;"></div>
                </div>
        </div>
    </section>

    <section class="otherinfo-section">
        <span class="section-title">{{ $root.LOCALE.PAGES.RESUME.OTHER_INFORMATION }}</span>

        <div class="education">
            <div ng-repeat="education in $root.LOCALE.PAGES.RESUME.EDUCATION_DESCRIPTIONS">
                <span class="item-title -center">
                    {{ education.COURSE_NAME }}
                </span>
                <span class="item-subtitle -center">
                {{
                    education.INSTITUTION + ' ' + 
                    $root.LOCALE.GENERAL.FROM.toLowerCase() + ' ' +
                    education.START_YEAR + ' ' + 
                    $root.LOCALE.GENERAL.TO.toLowerCase() + ' ' + 
                    education.END_YEAR
                }}  
                </span>
            </div>
        </div>

        <div class="language">
            <span class="item-title -center">{{ $root.LOCALE.GENERAL.ENGLISH }}</span>
            <span class="item-subtitle -center">{{ $root.LOCALE.PAGES.RESUME.FLUENT_PROFICIENCY }}</span>
            <br>
            <span class="item-title -center">{{ $root.LOCALE.GENERAL.PORTUGUESE }}</span>
            <span class="item-subtitle -center">{{ $root.LOCALE.PAGES.RESUME.NATIVE_PROFICIENCY }}</span>
        </div>
        <div class="contact">
            
            <span class="item-title -center">
                <i class="fa fa-envelope-o"></i>
                &nbsp;{{ $root.LOCALE.GENERAL.EMAIL }}
            </span>
            <span class="item-subtitle -center">emilianom.oliveira.n@gmail.com</span>

        </div>
        <button class="btn" ng-click="$ctrl.downloadPDF($root.LOCALE.LOCALE_NAME)">{{ $root.LOCALE.PAGES.RESUME.DOWNLOAD_PDF }}
    </section>

</div>
