.footer-partial {
    padding: $window-padding-mobile;
    border-top: solid white 1px;

    .profile-img {
        border: solid white 2px;
        border-radius: 50%;
        background-image: url('./imgs/me.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        display: block;
        height: 40px;
        width: 40px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .copyright {
        font-family: sans-serif;
        font-size: 14px;
        color: white;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-weight: 300;
    }
    .icon-list {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 5px;
        .icon-item {
            color: white;
            padding: 10px;
            display: inline-block;
            .fa-linkedin {
                font-size: 16px;
            }
            .fa-envelope {
                font-size: 14px;
            }
            .fa-bitbucket {
                font-size: 15px;
            }
        }
    }
    @media only screen and (min-width: $desktop-min-width) {
    
    }
}
