<section id="footerSection" class="footer-partial">
    <div class="profile-img"></div>
    <span class="copyright">{{ $root.LOCALE.GENERAL.COPYRIGHT }}</span>
    <div class="icon-list">
        <button
            class="icon-item"
            ng-click="$ctrl.openExternalUrl($event, 'https://www.linkedin.com/in/emiliano-oliveira/', true)">
            <i class="fa fa-file-text"></i>
        </button>
        <a class="icon-item" href="https://www.linkedin.com/in/emiliano-oliveira/" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
        <button
            class="icon-item"
            ng-click="$ctrl.scrollTo($event, 'contactSection', 1000)">
            <i class="fa fa-envelope"></i>
        </button>
        <a class="icon-item" href="https://bitbucket.org/emilianomon/" target="_blank">
            <i class="fa fa-bitbucket"></i>
        </a>
    </div>
</section>
