.typing-component {
    .page-title {
        margin-top: 20px;
        width: 80%;
        white-space: pre-line;
        line-height: 34px;  
    }
    
    .typing-wrapper {
        text-align: center;
        height: 50px;
        margin-top: 5px;
        .page-title {
            &.-typingtext {
                margin-top: 0px;
                display: inline-block;
                width: auto;
            }
        }
        .cursor {
            height: 32px;
            width: 2px;
            background: white;
            display: inline-block;
            vertical-align: top;
            margin-top: 0px;
            margin-left: 5px;
            text-align: center;
            animation: cursor-blink 0.5s both infinite;
            animation-direction: alternate;
        }
    }

    
    
    @keyframes cursor-blink {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    @media only screen and (min-width : $desktop-min-width) {
        .page-title {
            line-height: 60px;  
        }
        .typing-wrapper {   
            .cursor {
                height: 60px;
            }
        }
    }
}
