
<div class="typing-component">
    <span class="page-title -white">{{ $ctrl.strPreffix }}</span>
    <div class="typing-wrapper">
        <span class="page-title -white -typingtext">{{ $ctrl.str }}</span>
        <div class="cursor"></div>
    </div>
</div>
